a:hover {
    text-decoration: none;
    color: grey;
}
a {
    color: white;
}

.bm-burger-button {
    /* visibility: hidden; */
    position: fixed;
    width: 18px;
    height: 15px;
    left: 18px;
    top: 18px;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-cross-button {
    visibility: hidden;
    height: 12px;
    width: 12px;
    color: #c0c0c0;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    position: fixed;
    /* position: 0 !important; */
    top: 0 !important;
    min-height: 100vh;
    align-content: center;
    width: 20vw;
}

/* General sidebar styles */
.bm-menu {
    background-color: #0c091d !important;
    top: 0;
    position: 0 !important;
    padding: 1.5em 1.5em 0;
    font-size: 1.15em;
    align-content: center;
    width: 20vw;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    text-align: center;
    margin-left: 0;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
    .bm-burger-button {
        visibility: visible;
        color: #c0c0c0;
    }
    .bm-menu {
        width: 80vw !important;
    }
    .bm-menu-wrap {
        /* visibility: hidden; */
        width: 80vw !important;
    }
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }
    .bm-cross-button {
        visibility: visible !important;
    }
}

img {
    padding: 1em;
}

.card {
    width: 15rem;
    display: block;
    box-shadow: 10px 5px 40px 20px #ededed;
    transition: .25s;
}
.card:hover {
    box-shadow: 10px 5px 40px 20px #dcdcdc;
    cursor: pointer;
}
.card:hover .button-primary {
    transform: translate(10px, 0);
}

.card-header {
    height: 150px;
    width: 100%;
    padding: 15px;
    width: 100%;
    background-size: cover;
    color: #fff;
}

.card-header--title {
    text-transform: uppercase;
    margin: 0;
}

.card-body {
    padding: 15px;
    background-color: #fff;
    width: 100%;
}

.date {
    font-size: 11px;
    font-weight: 600;
    color: grey;
}

.body-content {
    padding-bottom: 40px;
    font-size: 13px;
    line-height: 1.8;
}

.button-primary {
    border: none;
    box-shadow: none;
    font-family: inherit;
    background-color: transparent;
    color: #1a4da6;
    font-size: 15px;
    transition: .25s;
}
.button-primary i {
    padding-right: 4px;
}

.designer-link {
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

@media (max-width: 767px) {
    .css-u22wg7-Container-Root {
        display: block !important;
        max-width: 75vw !important;
        background-color: #0c091d;
    }
    .css-10u7c63 {
        margin-left: 0 !important;
    }
}